# Dependencies
node_modules/
*/node_modules/

# iOS
ios/Pods/
ios/build/
*.xcarchive

# Android
android/.gradle/
android/build/
android/app/build/

# React Native
.metro-health-check*

# Misc
.DS_Store
*.log
.env
dist/
